<h2>Custom Angular Tooltip Directive</h2>
<h4>Scrollable Content for Large Tooltips</h4>
<p>
  Lorem ipsum dolor sit amet consectetur adipiscing elit commodo facilisi
  blandit et, primis fermentum pellentesque metus montes justo dictum dis nunc
  porttitor rhoncus inceptos, nam purus lobortis in tellus etiam eleifend turpis
  at nec. Est facilisis nisi etiam natoque feugiat blandit hendrerit ridiculus
  mollis, senectus nascetur tempor rutrum leo facilisi varius sed sociosqu
  potenti, diam ullamcorper curabitur lobortis scelerisque cum quisque ac. Justo
  ut viverra urna pellentesque rutrum nisi proin morbi, aptent neque duis ligula
  ac tempus vehicula lectus donec, maecenas euismod tincidunt vitae inceptos et
  suscipit. Enim mi tincidunt ad viverra pharetra consequat semper rhoncus, leo
  pretium conubia felis aliquam eleifend netus fermentum eros, blandit commodo
  cras urna cum posuere habitasse. Risus dui dictumst tincidunt a varius
  himenaeos mauris sociosqu imperdiet, at pharetra vivamus tristique id inceptos
  fusce proin volutpat suspendisse, ut platea eros purus quam pellentesque quis
  porttitor. Faucibus tincidunt mi porttitor fames facilisis platea sagittis
  vivamus curae, aliquet id nisl fringilla himenaeos viverra eget porta,
  senectus mattis ante ligula risus potenti consequat turpis. Accumsan maecenas
  pharetra cursus interdum a orci hendrerit aliquam auctor, ridiculus dictumst
  magna volutpat suspendisse bibendum tempor aptent commodo, vulputate sapien
  feugiat nisl ac condimentum senectus tristique. Mauris ornare iaculis
  pellentesque aenean imperdiet dui convallis nibh vivamus litora, odio fusce
  torquent commodo molestie a orci ultricies nunc laoreet facilisis, platea
  phasellus tortor penatibus ultrices netus rutrum curabitur egestas. Turpis
  torquent ut lacus morbi facilisis lectus duis maecenas aptent, gravida sapien
  orci sed montes enim tempor purus ligula aliquam, ullamcorper dui praesent
  interdum scelerisque augue ultricies congue. Metus eget tincidunt malesuada
  molestie fames facilisis massa aliquam convallis vivamus urna, pretium varius
  ornare ante cum blandit tortor elementum tellus primis. Inceptos eros nostra
  quis eget dis aliquet gravida lacus mauris feugiat, velit varius leo urna
  placerat potenti id pellentesque facilisis, ornare mus egestas commodo
  curabitur phasellus interdum lectus luctus. Cursus imperdiet risus tortor in
  nam sed maecenas proin egestas, primis senectus suspendisse varius consequat
  fermentum nostra ridiculus, mus sollicitudin curae sem dictumst fames mauris
  eu. Risus mattis lobortis vehicula cubilia vivamus magna tristique mollis,
  tincidunt ante habitant pellentesque mauris varius duis, odio sociis lacinia
  congue dui scelerisque suspendisse. Dapibus habitant mi metus pretium et vel
  molestie non dictumst enim, eget ullamcorper sociis interdum eros netus
  ridiculus nisi himenaeos. Sapien ornare pellentesque proin nullam eros
  elementum ut nunc ante pretium facilisis curabitur, id felis molestie sociosqu
  erat augue eleifend enim viverra ultricies.
</p>

<div class="btn-group">
  <button appTooltip="This is a custom tooltip" tooltipClass="red-tooltip">Inline Tooltip</button>
  <button [appTooltip]="tooltipContent" tooltipClass="blue-tooltip">Tooltip With Html</button>
</div>

<ng-template #tooltipContent>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta fugaLorem
    ipsum dolor sit amet consectetur adipisicing elit. At soluta fugaLorem ipsum
    dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. At soluta fugaLorem ipsum dolor sit amet
    consectetur adipisicing elit. At soluta fugaLorem ipsum dolor sit amet
    consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. At soluta fugaLorem ipsum dolor sit amet consectetur
    adipisicing elit. At soluta fugaLorem ipsum dolor sit amet consectetur
    adipisicing elit. At soluta fugaLorem ipsum dolor sit amet consectetur
    adipisicing elit. At soluta fugaLorem ipsum dolor sit amet consectetur
    adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    At soluta fugaLorem ipsum dolor sit amet consectetur adipisicing elit. At
    soluta fugaLorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
</ng-template>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta fuga autem
  temporibus. Tempore consectetur, impedit dignissimos libero dolores, velit,
  quos odio fuga quo ipsam suscipit placeat reiciendis provident officia nostrum
  perferendis vero cupiditate illo. Harum voluptatem doloremque blanditiis
  architecto autem placeat eligendi sunt, exercitationem eaque adipisci labore
  unde accusantium quis, impedit totam debitis natus velit, dolorem optio
  explicabo possimus sequi ab molestiae. Voluptatem sunt sequi rerum accusamus
  maiores eveniet debitis, beatae est quaerat quisquam earum. Minima corrupti
  ipsa asperiores modi qui aut hic maiores deleniti adipisci. Beatae ipsa
  repellendus et? Esse, molestiae voluptatum perferendis adipisci accusantium,
  maiores minima autem quisquam possimus quo tempora facilis voluptatibus at
  recusandae maxime qui enim velit itaque deleniti pariatur quod? Dolor placeat
  deserunt quas aliquid tempora itaque rerum dicta harum dolores consequuntur
  quaerat hic, totam, dolore magnam nisi accusantium exercitationem sint maiores
  ratione praesentium quibusdam? Animi officiis illum explicabo culpa voluptatum
  perspiciatis earum repudiandae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta fuga autem
  temporibus. Tempore consectetur, impedit dignissimos libero dolores, velit,
  quos odio fuga quo ipsam suscipit placeat reiciendis provident officia nostrum
  perferendis vero cupiditate illo. Harum voluptatem doloremque blanditiis
  architecto autem placeat eligendi sunt, exercitationem eaque adipisci labore
  unde accusantium quis, impedit totam debitis natus velit, dolorem optio
  explicabo possimus sequi ab molestiae. Voluptatem sunt sequi rerum accusamus
  maiores eveniet debitis, beatae est quaerat quisquam earum. Minima corrupti
  ipsa asperiores modi qui aut hic maiores deleniti adipisci. Beatae ipsa
  repellendus et? Esse, molestiae voluptatum perferendis adipisci accusantium,
  maiores minima autem quisquam possimus quo tempora facilis voluptatibus at
  recusandae maxime qui enim velit itaque deleniti pariatur quod? Dolor placeat
  deserunt quas aliquid tempora itaque rerum dicta harum dolores consequuntur
  quaerat hic, totam, dolore magnam nisi accusantium exercitationem sint maiores
  ratione praesentium quibusdam? Animi officiis illum explicabo culpa voluptatum
  perspiciatis earum repudiandae?
</p>
