/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.25px;
  line-height: 1.5;
  width: min(100%, 920px); 
  margin-inline: auto;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background-color: #3994d1;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  font-family: inherit;
  font-size: inherit;
}

.btn-group {
  display: flex;
  gap: 24px;
}
